.sign-out-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.sign-out-button:hover {
    border-color: transparent
}

.design {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-main-design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4em;
}