.design-area {
    max-width: 90%;
    max-height: 90%;
    min-width: 90%; 
    min-height: 55em;
    background-color: #e4e4e4; 
    border-radius: 10px; 
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-upload {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
}

.button-upload:hover {
    background-color: grey;
    border-color: grey;
}

.button-send {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
    margin-left: 10px;
}

.prompt-area {
    position: absolute;
    bottom: 1em;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.prompt-input {
    padding: 0 10px; 
    min-height: 48px; 
    line-height: 38px; 
    border-radius: 16px; 
    border: none; 
    width: 100%;
    height: 50%;
    font-size: 18px;
}

.prompt-input:hover {
    background-color: grey;
    border-color: grey;
}

.main-design {
    width: 100%;
}

.start-designing {
    position: absolute;
    right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-design {
    color: grey;
}

.current-image-area {
    max-width: 65%;
    max-height: 65%;
    position: absolute;
    display: flex;
    top: 16em;
    right: 4em;
    align-items: center;
}

.current-design-area {
    display: flex;
    flex-direction: row;
    position: absolute; 
    top: 0;
    right: 0;
    width: 80%;
}

.presented-image-design {
    max-width: 100%;
    max-height: 100%;
}

.toolbar-design-area {
    width: 100%;
    position: absolute;
    top: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-buttons {
    position: absolute;
    right: 4em;
}

#design-title {
    color: grey;
    position: absolute;
    left: 1em;
    font-size: 3em;
}

.desings-list-area {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
}

.design-list-element {
    color: black;
}