.design-area {
    width: 90vw;
    height: 90vh;
    max-height: 90%;
    min-height: 55vh;
    background-color: #e4e4e4; 
    border-radius: 1em; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-upload {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
}

.button-upload:hover {
    background-color: grey;
    border-color: grey;
}

.button-send {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
    margin-left: 1.5em;
}

.prompt-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prompt-input {
    padding: 0 10px; 
    min-height: 1em; 
    line-height: 2.5em; 
    border-radius: 16px; 
    width: 80%;
    font-size: 1em;
}

.prompt-input:focus {
    outline: none;
}

.main-design {
    width: 100%;
}

.start-designing {
    position: absolute;
    right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-design {
    color: grey;
}

.current-image-area {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-design-area {
    display: flex;
    flex-direction: row;
    position: absolute; 
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

.presented-image-design {
    max-width: 100%;
    max-height: 100%;
}

.toolbar-design-area {
    width: 100%;
    position: absolute;
    top: 0;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-buttons {
    position: absolute;
    display: flex;
    right: 3em;
    height: 100%;
    align-items: center;
}

.toolbar-title {
    position: absolute;
    left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
    height: 100%;
}

.toolbar-button {
    margin-left: 0.5em;
}

#design-title {
    color: grey;
    font-size: 2.5em;
    width: 100%;
    overflow-y: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.design-title {
    max-width: 50%;
}

#design-title-button {
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-size: 1.25em;
    height: 100%;
}

#design-title-button:focus  {
    outline: none;
}

#design-title-input {
    font-size: 2.5em;
    width: 50%;
    background-color: transparent;
    color: grey;
    font-weight: bold;
}

#design-title-input:focus {
    outline: none;
}

.design-list-element {
    color: black;
}

#start-new-button {
    border-radius: 1em 0 0 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 100;
}

#start-new-button:hover {
    background-color: rgba(33, 32, 32, 0.9);
    border-color: transparent;
}

.desings-history-area {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background-color: black;
    border-radius: 1em 0 0 1em;
}

@media (max-width: 768px) {
    .desings-history-area {
        width: 30%; 
    }
    .current-design-area {
        width: 70%;     
    }
    .toolbar-buttons {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .desings-history-area {
        width: 30%; 
    }
    .current-design-area {
        width: 70%; 
    }
    .toolbar-buttons {
        flex-direction: column;
    }
}

.history-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5em;
    width: 95%;
    margin-left: 0.5em;
    overflow: hidden;
}

.history-design::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
}

.history-design-content {
    margin-left: 1em;
    position: relative;
    overflow-y: hidden;
}

.history-design:hover {
    background-color: rgba(33, 32, 32, 0.90);
    border-radius: 1em;
    cursor: pointer;
}

.forward-design-area {
    z-index: 1;
    background-color: black;
    overflow-y: hidden;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0 1em 1em 0;
}

.forward-design-card {
    flex: 1 1 calc(25% - 2vw); /* Change flex property to allow for flexible height */
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: calc(25% - 2vw);
}

@media (max-width: 1200px) {
    .forward-design-card {
        flex-basis: calc(33.333% - 2vw); 
        max-width: calc(33.333% - 2vw);     
    }
}

@media (max-width: 768px) {
    .forward-design-card {
        flex-basis: calc(50% - 2vw); 
        max-width: calc(50% - 2vw); 
    }
}

@media (max-width: 576px) {
    .forward-design-card {
        flex-basis: calc(100% - 2vw); 
        max-width: calc(100% - 2vw); 
    }
}

.forward-card-prompt-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-align: center; /* Horizontally center the text */
}

.forward-design-card-image {
    width: 80%;
    height: 80%;
    position: relative;
    top: 0;
    border: 5% solid transparent;
}

.forward-design-card-image:hover {
    border-color: grey;
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
}

.toolbar-forward-design-area {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5%;
}

.forward-area {
    height: 95%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-content: flex-start; 
    position: absolute;
    bottom: 0;
    overflow: auto;
}
#close-forward-design-area-button {
    background-color: transparent;
    border-color: transparent;
}

#close-forward-design-area-button:focus {
    outline: none;
}

.design-loading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #808080; /* Grey color */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.design-loading h2 {
    color: #808080; /* Grey color */
}

.design-error {
    display: flex;
    text-align: center;
    align-items: center;
}

.design-error-text {
    color: red;
}