.design-area {
    max-width: 90%;
    max-height: 90%;
    min-width: 90%; 
    min-height: 55em;
    background-color: #e4e4e4; 
    border-radius: 1em; 
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-upload {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
}

.button-upload:hover {
    background-color: grey;
    border-color: grey;
}

.button-send {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
    margin-left: 10px;
}

.prompt-area {
    position: absolute;
    bottom: 1em;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prompt-input {
    padding: 0 10px; 
    min-height: 1em; 
    line-height: 2.5em; 
    border-radius: 16px; 
    width: 100%;
    font-size: 1em;
}

.prompt-input:hover {
    background-color: grey;
    border-color: grey;
}

.main-design {
    width: 100%;
}

.start-designing {
    position: absolute;
    right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-design {
    color: grey;
}

.current-image-area {
    max-width: 65%;
    max-height: 65%;
    position: absolute;
    display: flex;
    top: 10em;
    right: 4em;
    align-items: center;
}

.current-design-area {
    display: flex;
    flex-direction: row;
    position: absolute; 
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

.presented-image-design {
    max-width: 100%;
    max-height: 100%;
}

.toolbar-design-area {
    width: 100%;
    position: absolute;
    top: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-buttons {
    position: absolute;
    right: 4em;
}

.toolbar-button {
    margin-left: 0.5em;
}

#design-title {
    color: grey;
    position: absolute;
    left: 1em;
    font-size: 2.5em;
}

.design-list-element {
    color: black;
}

#start-new-button {
    border-radius: 1em 0 0 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#start-new-button:hover {
    background-color: rgba(33, 32, 32, 0.9);
    border-color: transparent;
}

.desings-history-area {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background-color: black;
    border-radius: 1em 0 0 1em;
}

.history-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5em;
    width: 95%;
    margin-left: 0.5em;
}

.history-design-content {
    margin-left: 1em;
}

.history-design:hover {
    background-color: rgba(33, 32, 32, 0.90);
    border-radius: 1em;
    cursor: pointer;
}

.next-design-area {
    z-index: 100;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.forward-design-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forward-design-card:hover {
    background-color: grey;
    cursor: pointer;
}

.toolbar-next-design-area {
    display: flex;
    justify-content: flex-end;
}

#close-next-design-area-button {
    background-color: transparent;
    border-color: transparent;
}